apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: component-github-1pbiafl0z20vm
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: component-github-1pbiafl0z20vm
    app.kubernetes.io/part-of: application-github-izpaj5xh7a6ux
  name: component-github-1pbiafl0z20vm
spec:
  ports:
  - name: http-8081
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    app: go-app
    app.kubernetes.io/instance: component-github-1pbiafl0z20vm
status:
  loadBalancer: {}
